<section class="disqus">
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_config = function() {
            this.page.url        = "{{ page.url }}";
            this.page.identifier = "{{ page.url }}";
        };
        
        (function() {
            var dsq = document.createElement('script');
            dsq.src   = '//' + "{{ site.data.settings.disqus.shortname }}" + '.disqus.com/embed.js';
            dsq.type  = 'text/javascript';
            dsq.async = true;
            
            dsq.setAttribute('data-timestamp', +new Date());
            (document.head || document.body).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus</a>.</noscript>
    <a href="https://disqus.com" class="dsq-brlink">Comments powered by <span class="logo-disqus">Disqus</span></a>
</section>
